# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml

# Temp files
_temp/

# Billy's saved task list, created at runtime
/data/
